
<!-- Intro:start -->
<div id="intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<img class="img-responsive tpad" src="/images/moveMe.png" pagespeed_url_hash="4052286360">
			</div>					
			<div class="col-xs-9">
				<h1>Contacto</h1>
				
			</div>					
		</div>
	</div>
</div>
<!-- Intro:end -->

<!-- mapa:Inicio -->
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3079.858246586634!2d-0.41702906415835933!3d39.47253099497337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1450885762046" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- mapa:Fin -->

<!--Contenido: Start-->
<div class="container padded">
	<div class="row">
		<div class="col-sm-8">
			<h2>Contacta</h2>
			<hr>
			<p>cualquier cosa que quieras saber</p>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="email" class="col-lg-2 control-label">Email</label>
					<div class="col-lg-10">
						<input type="email" class="form-control" id="email" placeholder="email">
					</div>
				</div>
				<div class="form-group">
					<label for="Mensaje" class="col-lg-2 control-label">Mensaje</label>
					<div class="col-lg-10">
					<textarea class="form-control"id="Mensaje" placeholder="Mensaje" rows="6"></textarea>
						
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<a  href="#modal-id" data-toggle="modal"class="btn btn-default btn-lg">Enviar</a>
					</div>
				</div>
			</form>
		</div>
		<!-- ventana modal:Inicio -->
		
			<div class="modal fade" id="modal-id">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Título</h4>
						</div>
						<div class="modal-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							<a  href="index.html" class="btn btn-default ">Enviar</a>
						</div>
					</div>
				</div>
			</div>	
		<!-- ventana modal:Fin -->
		<div class="col-sm-4">
			<img src="./assets/img/office.jpg" class="img-responsive img-circle">
			<hr>
					<address>
						<h3>Tame</h3>
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Gregorio Gea, 61 <br>
						&nbsp&nbsp&nbsp Mislata <br>
						<a href="mailto:tame@formacion.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp tame@formacion.com</a> <br>	
						<a href="tel: 96 359 72 44"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> &nbsp 96 359 72 44</a> <br>	
					</address>

		</div>
	</div>
</div>
<!--Contenido :End-->
